[submodule "lib/shrike_arduino"]
	path = lib/shrike_arduino
	url = https://github.com/vicharak-in/shrike_arduino.git
[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/dpks2003/micropython/
