name: Build and Deploy Sphinx Docs

on:
  push:
    branches:
      - main
    paths:
      - 'Docs/**'   # Trigger only when files in Docs/ change

permissions:
  contents: write 


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install sphinx sphinx-design sphinxawesome-theme myst-parser

      - name: Build documentation
        run: |
          sphinx-build -b html Docs/ build/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: build

